body{
    background-image: linear-gradient(#F00034,#FFD8D9,#FFA9AA);
    text-align: center;
    background-position: center;
    margin: 0;
    cursor: url('images/Bear.png'),16 16 auto;
}
body::-webkit-scrollbar {
    width: 10px;
  }
  
  body::-webkit-scrollbar-track {
    background-image:linear-gradient( rgb(255, 96, 96),rgba(253, 234, 231, 1)) ;
  }
  
  body::-webkit-scrollbar-thumb {
    border-radius: 50px;
    border: 5px dotted; 
    border-image: linear-gradient(45deg, red, yellow, green, blue) 1;
  }

  .helo{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    
  }
.kolo{
      background-color: #FF0062;
    border-radius: 50%;
    box-shadow: #8B0023 6px 1px;
    width: 224px;
    height: 220px;
    position: absolute;
    z-index: 1;
}
  header img{
    width:115px ;
    height: 115px;
    z-index: 2;
  }

  h1{
    font-family: "Irish Grover", system-ui;
    z-index: 2;
  }

  header{
    background-image: url(images/Background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 120px;
  }

